<!DOCTYPE html>
{% load i18n %}
{# load ganalytics #}
{% load static %}

<html class="no-js" lang="{{ LANGUAGE_CODE }}">
  <head>
    {% include 'head/meta.html' %}
    <title></title>
    {% include 'head/links.html' %}
    {# ganalytics #}
  </head>
  <body>
  <div id="language-select">
			<form action="{% url 'set_language' %}" method="post">
				{% csrf_token %}
				<input name="next" type="hidden" value="{{ redirect_to }}" />
				<select name="language">
				{% get_language_info_list for LANGUAGES as languages %}
				{% for language in languages %}
				<option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
				    {{ language.name_local }} ({{ language.code }})
				</option>
				{% endfor %}
				</select>
				<input type="submit" value="{% trans 'Switch language' %}" />
			</form>
</div>
  {% block home %}
  {% endblock home %}


  {% include 'footer.html' %}
  {% include 'head/scripts.html' %}
  </body>
</html>
